<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/style.css">
    <title>Editar</title>
</head>
<body>
    <h2>Editar Funcionário</h2>
    <form method="POST">
        <input type="text"
        name="nome"
        value="{{ funcionario[1] }}">
        <br><br>
        <input type="text"
        name="contato"
        value="{{ funcionario[2] }}">
        <br><br>
        <input type="text"
        name="setor"
        value="{{ funcionario[3] }}">
        <br><br>
        <input type="email"
        name="email"
        value="{{ funcionario[4] }}">
        <br><br>
        <input type="text"
        name="cargo"
        value="{{ funcionario[5] }}">
        <br><br>
        <input type="number"
        step="0.01"
        name="salario"
        value="{{ funcionario[6] }}">
        <br><br>
        <button type="submit">
            Salvar
        </button>
    </form>
    <br>
    <a href="/listar">Voltar</a>
</body>
</html>