<!DOCTYPE html>
<html>
<head>
    <title>Editar Funcionário</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="topbar">
        <h1>Editar Funcionário</h1>
        <a href="/listar" style="color: #c4b5fd;">Voltar</a>
    </div>

    <div class="box">
        <form method="POST" style="display: flex; flex-direction: column; gap: 15px;">
            <input name="nome" value="{{ funcionario[1] }}">
            <input name="contato" value="{{ funcionario[2] }}">
            <input name="setor" value="{{ funcionario[3] }}">
            <input name="email" value="{{ funcionario[4] }}">
            <input name="cargo" value="{{ funcionario[5] }}">
            <input name="salario" value="{{ funcionario[6] }}">
            <button type="submit">Atualizar</button>
        </form>
    </div>
</div>
</body>
</html>