{% extends 'base.html' %}
{% block conteudo %}
<h2>Página Inicial (Home)</h2>
<p>Olá, <strong>{{ user }}</strong>! Você entrou no sistema da Interlândia com sucesso.</p>
<div style="background-color: #f9f9f9; padding: 20px; border: 1px dashed black; margin-top: 20px;">
    <h3>Instruções de Uso para o RH:</h3>
    <p>Use o menu do lado esquerdo para navegar pelas telas. Você pode cadastrar funcionários, ver a lista, gerenciar os setores e dar uma olhada nos logs de auditoria do banco de dados.</p>
</div>
{% endblock %}