{% extends 'base.html' %}
{% block conteudo %}
<h2>📋 Lista de Funcionários Cadastrados</h2>
<div style="margin-bottom: 20px;">
    <form action="/listar" method="GET">
        <input type="text" name="busca" placeholder="Buscar por nome, ID ou setor..." style="width: 250px; padding: 5px;">
        <button type="submit">Buscar</button>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Setor</th>
            <th>Cargo</th>
            <th>Status</th>
            <th>O que fazer</th>
        </tr>
    </thead>
    <tbody>
        {% for f in funcionarios %}
        <tr>
            <td>{{ f[0] }}</td>
            <td>{{ f[1] }}</td>
            <td>{{ f[3] }}</td>
            <td>{{ f[5] }}</td>
            <td>
                <span style="font-weight: bold; color: {% if f[7] == 'ATIVO' %}green{% else %}red{% endif %};">
                    {{ f[7] }}
                </span>
            </td>
            <td>
                <a href="/editar/{{ f[0] }}" class="btn btn-edit">Editar</a>
                <a href="/desligar/{{ f[0] }}" class="btn btn-del">Demitir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}