<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Interlândia - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #e6e6e6;">
    <div style="background-color: white; padding: 30px; border: 3px solid black; text-align: center; width: 300px;">
        <h2>Interlândia LTDA</h2>
        <p>Sistema de Gestão de RH</p>
        <form action="/" method="POST">
            <input type="text" name="usuario" placeholder="Digite seu usuário (Ex: vitor)" required style="width: 90%; padding: 5px; margin-bottom: 10px;">
            <input type="password" name="senha" placeholder="Digite sua senha" required style="width: 90%; padding: 5px; margin-bottom: 15px;">
            <button type="submit" style="width: 95%; background-color: #0000ff; color: white; padding: 10px; font-weight: bold; cursor: pointer;">ENTRAR NO SISTEMA</button>
        </form>
    </div>
</body>
</html>